<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook Entry</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>List of all Gustbook Messages</h1>

    {% for message in messages %}
    <p>
        <strong>Gast: </strong> {{ message.user_name }}<br>
        <strong>E_Mail Adresse: </strong> {{ message.mail_adress }} <strong>Erstellt am: </strong> {{ message.created }} <br>
        <strong>Gast von: </strong> {{ message.user_start }}  <strong>bis: </strong> {{message.user_end}}
    </p>
    <p>
        <h3>Gustbook Entry</h3>
        {{ message.message_text }}
    </p>
    <p>
        <strong>Entry ID:</strong> {{ message.key.id() }}<br>
        <a href="/message/{{ message.key.id() }}/edit">Edit messages</a>
        <a href="/message/{{ message.key.id() }}/delete">Delete messages</a>
    </p>
    <hr>
    {% endfor %}


</body>
</html>