<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook Entry</title>
</head>
<body>
    <h1>List of all messages</h1>

    <table>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.user_name }}</td>
                <td>{{ message.mail_adress }}</td>
                <td>{{ message.created }}</td>
            </tr>
            <tr>
                <td colspan="3">{{ message.message_text }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>

</body>
</html>