<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Guestbook</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, in my small Guestbook!</h1>

    <form method="post">

        <p><input type="text" name="name" placeholder="Ihren Namen Bitte" />
        <input type="email" name="email" placeholder="Ihre E-Mail Adresse Bitte" /></p>
        <p>Von wann bis wann waren Sie bei uns?<br>
        <input type="date" name="begin" placeholder="Von" /><input type="date" name="end" placeholder="Bis" /></p>
        <textarea name="book" cols="47" rows="10" required="required" placeholder="Wie fanden Sie den Aufenthalt in unserem Haus"></textarea><br>
        <button type="submit">Absenden</button>
        <button type="reset">Reset</button>
    </form>

    <h2>Guestbook</h2>

    <table>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.user_name }}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">{{ message.message_text }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
</body>
</html>